.color_gris{
    background-color: rgb(79, 82, 79);
    height: 45px;
}


.mystyle{
    width: 100%];
    padding: 25px;
    background-color:
    blue;
    color:white;
    font_size:25px;
    box-sizing:border-box;
}
.letras{
    color:rgb(175, 175, 201);
    display= align:center;


}
